@import "tailwindcss";



.text-primary {
  color: #006100;
}

.bg-primary {
  background-color: #006100;
}

@layer components {
  .btn-primary {
    @apply px-8 py-4 bg-emerald-600 text-white font-bold rounded-xl text-center hover:bg-emerald-500 transition;
  }
  
  .text-gradient-primary {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-emerald-400 to-yellow-400;
  }

  .bg-gradient-primary {
    @apply bg-gradient-to-r from-emerald-500 to-yellow-500;
  }
}