---
import DownloadSection from '../components/DownloadSection.astro';
import Layout from '../layouts/Layout.astro';
---



<Layout 
  title="Download LG999 Game APK (2026) - Official Android Real Money App"
  description="Get the latest LG999 Game APK (2026) for Android. Official app to play casino and card games, earn real money, and enjoy fast and secure withdrawals."
>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "LG999 Game",
    "operatingSystem": "Android",
    "applicationCategory": "GameApplication",
    "offers": {
      "@type": "Offer",
      "price": "0",
      "priceCurrency": "PKR"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.4",
      "ratingCount": "18924"
    }
  }
  </script>
  <main>
    <DownloadSection />
  </main>
</Layout>
